.wrapper
  .fixed_content
    .fixed_content__left Foodstic
    .fixed_content__right
      - if user_signed_in?
        .fixed_content__right__client_name
          こんにちわ、#{current_user.name}様
        .fixed_content__right__clientFn
          = link_to "ログアウト", destroy_user_session_path, method: :delete
        .fixed_content__right__cart
          cart
      -elsif store_signed_in?
        .fixed_content__right__client_name
          こんにちわ、#{current_store.name}様
        .fixed_content__right__clientFn
          = link_to "ログアウト", destroy_store_session_path, method: :delete
        .fixed_content__right__cart
          lists
      - else
        .fixed_content__right__client_name
          こんにちわ、お客様
        .fixed_content__right__clientFn
          = link_to "ログイン", new_user_session_path, method: :get
        .fixed_content__right__clientFn
          = link_to "新規登録", new_user_registration_path, method: :get
  .menu
    .menu__top
      .menu__top__listing Umami burger
    .menu__left
      .menu__left__title Umami burger
      .menu__left__hours 6pm- 11pm

    .menu__right
      - @menus.each do |menu|
        .menu__right__item
          .menu__right__item__details
            .menu__right__item__details__title
              = menu.name
            .menu__right__item__details__price
              = menu.price
          .menu__right__item__picture
            %img{src: menu.image}
