.wrapper
  .fixed_content
    .fixed_content__left Foodstic
    .fixed_content__right
      - if user_signed_in?
        .fixed_content__right__client_name
          こんにちわ、#{current_user.name}様
        .fixed_content__right__clientFn
          = link_to "ログアウト", destroy_user_session_path, method: :delete
        .fixed_content__right__cart
          cart
      -elsif store_signed_in?
        .fixed_content__right__client_name
          こんにちわ、#{current_store.name}様
        .fixed_content__right__clientFn
          = link_to "ログアウト", destroy_store_session_path, method: :delete
        .fixed_content__right__cart
          lists
      - else
        .fixed_content__right__client_name
          こんにちわ、お客様
        .fixed_content__right__clientFn
          = link_to "ログイン", new_user_session_path, method: :get
        .fixed_content__right__clientFn
          = link_to "新規登録", new_user_registration_path, method: :get

  .content-wrapper
    .content
      .content__top レストランや料理を検索
      .content__main
        .content__main__restaurant レストラン
        .content__main__base
          - @stores.each do|store|
            .content__main__base__lists
              .content__main__base__lists__image
                %img{src: store.image}
              .content__main__base__lists__title
              = store.name
              .content__main__base__lists__detail
              good hambuger to eat


